.legend-item {
  display: flex;
  align-items: center;
}

.event-annual, .dh-event-annual {
  background-color: #4caf50;
}
.event-sick, .dh-event-sick {
  background-color: #fb8c00;
}
.event-parenting, .dh-event-parenting {
  background-color: #ffee58;
}
.event-unpaid, .dh-event-unpaid {
  background-color: #f44336;
}
.event-study, .dh-event-study {
  background-color: #2196f3;
}
.event-half-day, .dh-event-half-day {
  background-color: #e0e0e0;
}
.event-bereavement, .dh-event-bereavement {
  background-color: #000000;
}
.dh-event-bereavement:not(:hover) > a {
  color: white;
}
.event-marriage, .dh-event-marriage {
  background-color: #e040fb;
}
.event-work-from-home, .dh-event-work-from-home {
  background-color: #78909c;
}
.event-in-lieu, .dh-event-in-lieu {
  background-color: #18ffff;
}
